.sticky-top{
  background-color: white;
  padding-bottom: 5px;
  padding-top: 20px;
}

.navname{
    font-weight: 500;
    font-size: 13px;
    /* line-height: 25px; */
    margin-left: 40px;
    font-weight: bold;
    color: #363F53;   
} 

.navname a {
  /* margin-left: 18px; */
  width: 98px;
  color: #363F53;   
  
}

.navmedia{
  display: none;
}


.catepart{
    background-color: #363F53;
    height: 80px;

      display: flex;
  justify-content: center;
  align-items: center;

    
}
.allcate{
    background-color: #4380DB;
    color: white;
    display: flex;
justify-content:space-evenly;
align-items: center;
padding: 9px;
border-radius: 5px;
/* font-size: 10px; */
}

.searchiconone{
    background-color: #4380DB;
    border: 2px solid #4380DB ;
    color: white;
    padding: 15px;
    border-radius: 5px;
}
.searchiconone:hover{
    background-color:#ea3a3c ;
  border: 2px solid #ea3a3c;
}
.Bag{
    display: flex;
    justify-content:end;
     margin-top: 9px;
    
}

/* 3rd part start from here */


 .carousel-indicators .active {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #BBC5C2;
    cursor: pointer;
}
.carousel-indicators .slide_two {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #869791;
} 

.carousel-indicators [data-bs-target]{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #363F4D;

}
.carosmain{
    /* height: 400px; */
    margin-top: 35px;
    padding-right: 15px;
    padding-left:15px;
    margin-bottom: 10px;
}

/* 4th part start from here API part  */

#box{
  margin: auto;
  display: block;
  width: 100%;
}

.cardfour{
  font-weight: bold;
  padding: 25px;
  width: 25%;
  border: 3px solid #EBEBEB;
  line-height: 2;
  /* display: inline-block; */

}
.cardimg{
  width: 100%;
  height: 100%;
  
}
#box{
  /* border: 2px solid palevioletred; */
  display: flex;
  /* justify-content: center; */
}

/* 
.cardimgdiv{
  border: 2px solid rebeccapurple ;
} */
/* .carddata{  // this div was given card js file befor index
  /* margin-left:5%; */
  /* color: #707680; */
  /* font-size: 14px; */
  /* font-weight: 400; */

/* } */

.starcolor{
/* background-color:goldenrod; */
color:goldenrod;
}





/* 5th part start from here --> */


.imgone{
  height: 100%;
  width: 100%;
  background-color: #37475A;
  position: relative;
  overflow: hidden;
}

.imgzoom{
  height: 100%;
  width: 100%;
  transition: transform 1s;

}

.imgzoom:hover{
  opacity: .8;
transform: scale(1.1,1.1);

}



  /* 6th part start from here */
  .brandimgone{
    cursor: pointer;
    height: 100%;
  width: 100%;
  background-color:#9a9a9a;;
  position: relative;
  overflow: hidden;

  }
  .imgzoomtwo{
    height: 100%;
    width: 100%;
    transition: transform 1s;
  
  }
  
  .imgzoomtwo:hover{
    opacity: .8;
  transform: scale(1.1,1.1);
  
  }

  /* 7th part start from here */
  
  .footerone{
    background-color: #232F3E;
    /* height: 400px; */
    color: white;
    line-height: 30px;
    font-weight: 400;


}

  .footcolone{
    color: white;

  }
  .headone{
    font-size: 15px;
    font-weight: 400;
    font-size: 15px;
    margin-top: 20px;
    font-family: Rubik,sans-serif;

  }
  .footli{
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    /* font-family: Rubik; */
    text-transform: capitalize;

  }

.slide-right:hover {
  transition: 0.5s ease-in-out;
  color: #4380DB;
  font-weight: bold;
    -webkit-animation: slide-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

/* ----------------------------------------------
 * Generated by Animista on 2022-9-15 20:33:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}





  .rowtwocopy{
margin-top: 50px;
font-size: 14px;

  }
  .copyright a{
    color: white;
    text-decoration: none;

  }
  .themes:hover{
    color: #4380DB;

  }

  .copyicon{
display: flex;
justify-content: end;
  }
  .iconbtn{

    margin: 10px;
    border-radius: 5px;
    background-color: #37475A;
    color: white;
    padding: 0px 14px;
    border: none;
  }
  .iconbtn:hover{
    background-color: #4380DB;
  }  






  @media screen and (min-width:320px) and (max-width:480px){
    /* .navbarbtn{
      outline: none;  
    box-shadow: none;
    }   */
    .logo1{
        margin-left: 98px;
      }
      .logo1 img{
        max-width: 50%;
      }

      .catepart{
        display: none;
      }

      .navmedia{
        display: block;
      }
     /* // below code of card */
      .cardfour{
        width: 100%;
      }

      .mainimgone{
        margin-bottom: 20px;
      }
      
      .copyright p{
        text-align: center;
        color: white;
        text-decoration: none;
    
      }
      

      .copyicon{
        display: flex;
        justify-content: center;
          }

          .iconbtn{

            margin: 2px;
            border-radius: 5px;
            background-color: #37475A;
            color: white;
            padding: 0px 8px;
            border: none;
          }
    }