<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <form action="" method="post">

        Name: <input type="text" name="name" id="name"><br>
        Price: <input type="text" name="price" id="price"><br>
           <input type="button" value="Add Product" onclick="saveData()">
       
        </form>

    <script>
      
        function saveData(){
            var name = document.getElementById('name').value;
            var price = document.getElementById('price').value;
            
           var data = {name:name,price:price};

            fetch('http://localhost:9000/product/add-product', {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
            'Content-Type':'application/json'
            },
            }).then((response) => response.json())
            .then((data) => {
                console.log(data);
                window.location.href = "getproduct.html";

            }).catch((err)=>{
                console.log(err);
            });
        
        }

    </script>
</body>
</html>